{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      2,
      { "devDependencies": ["**/test.tsx", "**/test.ts"] }
    ],
    "@typescript-eslint/indent": ["error", 2],
    "object-curly-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": "off",
    "import/extensions": "off"
  }
}